:root {
  --color-red:hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  --color-dark-blue: hsl(232, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-grey: hsl(0, 0%, 98%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color-dark-blue);
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.header {
  padding: 8.5rem 3.2rem;
  text-align: center;
}

.header__title {
  font-weight: 200;
  font-size: 2.4rem;
}

.title--bold {
  font-weight: 600;
}

.header__content {
  line-height: 2.5rem;
  word-spacing: 0.1px;
  font-weight: 400;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2.7rem 2.8rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
  box-shadow: 0 8px 15px var(--color-grayish-blue);
}

.card__title {
  margin: 0;
}

.card__border-cyan {
  border-top: 5px solid var(--color-cyan);
}

.card__border-red {
  border-top: 5px solid var(--color-red);
}

.card__border-orange {
  border-top: 5px solid var(--color-orange);
}

.card__border-blue {
  border-top: 5px solid var(--color-blue);
}

.card__icon {
  width:57px;
  height:57px;
  margin-top: 3.3rem;
  float: right;
}

.attribution { 
  font-size: 11px; 
  text-align: center; }

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

