:root {
  --color-red:hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  --color-dark-blue: hsl(232, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-grey: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  margin: 0;
}

h1, h2 {
  color: var(--color-dark-blue);
}

p {
  color: var(--color-grayish-blue);
}

.container {
  padding: 3rem;
}

.header {
  margin-bottom: 7rem;
  text-align: center;
}

.header__title {
  font-weight: 200;
  font-size: 2.4rem;
  letter-spacing: 0.17px;
}

.title--bold {
  font-weight: 600;
  display: inline-block;
}

.header__content {
  line-height: 2.5rem;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.card {
  padding: 2.7rem 2.8rem;
  border-radius: 10px;
  box-shadow: 0 15px 30px -11px rgba(131 166 210 / 50%);
  width: 350px;
  margin: 0 auto;
}

.card__title {
  margin: 0;
}

.card__content {
  font-weight: 300;
}

.card__border-cyan {
  border-top: 4px solid var(--color-cyan);
}

.card__border-red {
  border-top: 4px solid var(--color-red);
}

.card__border-orange {
  border-top: 4px solid var(--color-orange);
}

.card__border-blue {
  border-top: 4px solid var(--color-blue);
}

.card__icon {
  width:57px;
  height:57px;
  margin-top: 3.3rem;
  float: right;
}

.attribution { 
  font-size: 11px; 
  text-align: center; }

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 825px;
    margin: 0 auto;
  } 

  .header {
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 7rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__title {
    font-size: 3.6rem;
    letter-spacing: 0.25px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "card-1 card-2 card-3"
      "card-1 card-4 card-3";
  }

  .card:nth-child(1) {
    grid-area: card-1;
    align-self: center;
  }

  .card:nth-child(2) {
    grid-area: card-2;
  }

  .card:nth-child(3) {
    grid-area: card-4;
  }

  .card:nth-child(4) {
    grid-area: card-3;
    align-self: center;
  }

  .card__title {
    font-size: 2rem;
  }

  .card__content {
    font-size: 1.3rem;
    letter-spacing: 0.09px;
  }

  .card__icon {
    width:64px;
    height:64px;
  } 
}
